<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="actstream">
  <description>Drupal coding standards for Activity Stream.</description>
  <file>src</file>
  <file>actstream.module</file>
  <file>actstream.install</file>
  <file>actstream_feed/actstream_feed.module</file>
  <file>actstream_feed/actstream_feed.install</file>
  <file>actstream_twitter/actstream_twitter.module</file>
  <file>actstream_facebook_page/actstream_facebook_page.module</file>
  <file>actstream_facebook_page/src</file>
  <file>actstream_event/actstream_event.module</file>
  <file>actstream_event/src</file>
  <file>tests</file>
  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>
  <!-- SimplePie is a vendored library, not subject to Drupal CS -->
  <exclude-pattern>actstream_feed/SimplePie.compiled.php</exclude-pattern>
</ruleset>
